.major-listings-container {
    margin: 2px;
    padding: 20px;
  }
  
  .major-listing-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .major-listings {
    display: flex;
    align-items: center;
  }
  
  .sliding-card {
    width: 100%; /* Adjust width as needed */
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  
  
  /* Add any additional styling as needed */
  