.text-top{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
}

.service_heading{
  font-size: 2rem;
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.66);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

.service_content {
  max-width: 600px; /* Adjust the max-width based on your layout */
  margin: 20 auto; /* Center the content */
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  padding: 10px;
  text-align: justify; /* Justify the text to create a paragraph effect */
  color: #fff;
}

.text_left{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
  max-width: 25%;
}

.service_contactus{
  margin-bottom: 10px;
  background-color:rgba(0,0,0,0.66) ;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

.text_right{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%,-50%);
  text-align: center;
}

@media screen and (max-width: 850px) {
  .text-top {
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .service_heading {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
  }

  .text_left {
    left: 50%;
    transform: translate(-50%, -50px);
    text-align: center;
    color: #fff;
    max-width: 50%;
    padding-top: 20px;
  }

  .service_content {
    max-width: 80%;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    color: #fff;
  }

  .service_contactus {
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
  }

  .text_right {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: #fff;
    width: 100%;
    padding-top: 20px;
  }
}