.toprow{
    padding: 15px;
}

.collage-slides{
    padding-bottom: 30px;
}

.header{
    background-color: black;
    color: white;
    
}

.header_company {
    background-color: black;
    color: white;
    padding: 10px 0; /* Adjust padding as needed */
  }
  
  .toprow {
    padding: 0; /* Remove the previous padding */
  }
  
  .toprow a {
    color: white;
  }
  
  .toprow a:hover {
    text-decoration: none;
    color: white; /* Adjust the color on hover as needed */
  }
  

.majorlistings{
    display: flex;
    flex-direction: column;
    justify-content: 'center';
    align-items: 'center';
    height: 45vh;
    padding-bottom: 2rem;
    margin-bottom: 20px;
}

.little-about{
  padding-top: 20px;
}

.LoadmoreProperties {
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 32rem;
  }

@media screen and (min-width:2000px) {
    .majorlistings{
        display: 'flex';
        flex-direction: column;
        justify-content: 'center';
        align-items: 'center';
        height: 45vh;
    }

    .LoadmoreProperties {
      margin: 0;
      display: flex;
      justify-content: center;
      padding-top: 24rem;
    }
}