.toprow{
    padding: 15px;
}

.collage-slides{
    padding-bottom: 30px;
}

.majorlistings{
    display: 'flex';
    flex-direction: column;
    justify-content: 'center';
    align-items: 'center';
    height: 45vh;
}

.LoadmoreProperties{
    margin: 10px;
}