/* Add this CSS in your styles file */

/* Footer Styles */
footer {
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

/* Company Logo Styles */
footer a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

footer img {
  height: 40px; /* Adjust the height as needed */
  margin-right: 10px;
}

/* Navigation Links Styles */
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 20px;
}

footer li {
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

footer a:hover {
  color: #007bff; /* Change to your desired hover color */
}

/* Bottom Text Styles */
footer span {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #888;
  margin-top: 20px;
}

/* Dark Mode Styles */
body.dark-mode footer {
  background-color: #2d2d2d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: #333;
}

body.dark-mode footer a {
  color: #333;
}

body.dark-mode footer a:hover {
  color: #007bff; /* Change to your desired hover color in dark mode */
}

body.dark-mode footer span {
  color: #888;
}
